.counter {
    grid-area: c;
}

.scoreboard {
    margin: 3px;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
}

.buttons {
    text-align: center;
    margin: 3px;
    border: 1px solid black;
    border-radius: 2px;
}

.button {
    margin: 3px;
    width: 110px;
    height: 45px;
    font-size: 95%;
}